<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |m| %>
    <li><%= m %></li>
  <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 background">
    <div class="marg">
      <center><h2>Join Bananagram</h2></center>
      <%= form_for @user do |f| %>
        <%= f.text_field :login, placeholder: "Login", class: "form-control" %>
        <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
        <%= f.text_field :bio, placeholder: "A few words about you", class: "form-control" %>
        <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
        <%= f.file_field :avatar, placeholder: "Profile Photo", class: "form-control" %>
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
